body {
    font-family: Roboto;
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}

header {
    background-color: #1F2937;
    color: #F9FAF8; 
    font-family: Roboto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.header-logo {
    padding: 0;
    margin: 0;
    margin-right: auto;
}

.navarea {
    display: flex;
}

.header-text {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    flex-grow: 1;
    max-width: 45ch;
}

.title {
    font-size: 48px;
    margin-bottom: 0;
}

.header-container {
    display: flex;
    flex-grow: 1;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.img-container {
    align-items: center;
    width: 1 em;    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    max-width: 200px;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}

.main {
    padding-bottom: 80px;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.main-title {
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24x;
    width: calc(25% -48px);
    box-sizing: border-box;
}

.square {
    border-style: solid;
    border-color: #3882F6;
    height: 100px; 
    width: 100px;
}

.inspiration {
    background-color: #E5E7EB; 
}

.quote {
    font-size: 36px;
    font-weight: 50; 
    font-style: italic;
    color: #1F2937; 
    padding: 80px 100px;
    margin: 0;
}

.attribute {
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    display: flex; 
    flex-grow: 1;
    background-color: #3882F6;
    color: white;
    flex-direction: column;
}

footer {
    text-align: center; 
    color: white;
    background-color: #1F2937;
} 